<html>
 <head>
  <meta charset="utf-8">
  <style>
   li {
    list-style-type: none; 
   }
   ul {
    margin-left: 0; 
    padding-left: 0; 
   }
  </style>
  
  
  <footer class="bg-light text-center text-lg-start">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">О нас</h5>
  
          <p>

            <ul> 
                <li>Время работы:</li>
                <li>Понедельник – Пятница с 9:00 до 20:00</li>
                <li>Cуббота – Воскресенье с 10:00 до 20:00</li>
                <li>BookShop.com - хорошие книги для отличных людей </li>
                <li>Интернет-магазин. Для передачи заказа в выбранный вами пункт самовывоза необходимо предварительно оформить заказ на сайте или по телефону.</li>
                </ul>



          </p>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">Контакты</h5>
  
          <p>
            <ul> 
            Телефоны:
            <l">+375 29 ### ## ## A1</li>
            <li>+375 29 ### ## ## MTC</li>
            <li>+375 25 ### ## ##8 Life</li>
            <li>E-mail: club11@bk.ru</li>
            </ul>
          </p>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2021 Copyright:
      <a class="text-dark" href="https://mdbootstrap.com/">BookShop.com</a>
    </div>
    <!-- Copyright -->
  </footer>