
<ul class="navbar-nav me-auto mb-2 mb-md-0">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="{% url 'books_list:home_customer' %}">На главную</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'books_list:book_list_customer' %}">Товар</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'books_list:books' %}">Жанры</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'books_list:books' %}">Профиль</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'books_list:books' %}">Корзина</a>
    </li>
</ul>