
<ul class="navbar-nav me-auto mb-2 mb-md-0">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'book_guide:book_references' %}">Справочники</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'books_list:book_list' %}">Перечень книг</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'carts:cart_edit' %}">Корзина</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'login:userlogin' %}">Регистрация</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'login:userlogin' %}">Войти в аккаунт</a>
    </li>


</ul>