{% extends "base.html" %}


profile_detail

{% block body %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}
<b>Логин:</b> <b style="font-size: 25px">{{object.user}}</b>
<form method="post">{% csrf_token %}
  <table>
    <thead></thead>
    <tbody>
  {% for field in form %}
  <tr>
    <td><b>{{ field.label }}</b></td>
    <td>
      {{ field }}
    </td>
  </tr>

  {% endfor %}
    </tbody>
</table>
  <button type="submit" class="btn btn-sm btn-warning">Внести изменения</button>
</form>


<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col"># Заказа</th>
      <th scope="col">Корзина</th>
      <th scope="col">Дата создания заказа</th>
      <th scope="col">Дата изменения заказа</th>
      <th scope="col">Статус заказа</th>
      <th scope="col">Удалить</th>
    </tr>
  </thead>
  <tbody>
  {% for cart in object.user.carts.all %}
    {% for order in cart.orders.all %}
    <tr>
      <td>{{ forloop.counter}}</td>
      <td><b>Заказ № {{ order.pk }}</b></td>
      <td>{{ order.cart.pk }}</td>
      <td>{{ order.created }}</td>
      <td>{{ order.updated }}</td>
      <td><b>{{ order.order_status }}</b></td>
      <td><a href='{% url "orders:order_delete" order.pk %}' style="text-decoration: none"><button class="btn btn-sm btn-warning" text-decoration: none>Удалить</button></a></td>
    </tr>
    {%endfor%}      
  {% endfor %}
  </tbody>
</table>



{% endblock %}



  <form method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Обновить данные">
  </form>

 