{% extends "base.html" %}


{% block body %}
<style>
a:hover {
text-decoration: none;
}
.login-form-1 {
    max-width: 300px;
    border-radius: 0px;
    display: inline-block;
}

  .main-login-form {
  position: relative;
}
.login-form-1 .form-control {
  border: 0;
  box-shadow: 0 0 0;
  border-radius: 1;
  background: transparent;
  padding: 7px 0;
  font-weight: bold;
  height:auto;
}
.login-form-1 .form-control::-webkit-input-placeholder {
}
.login-form-1 .login-button:hover {
  color: #555555;
  transform: rotate(450deg);
}
.login-form-1 .form-group {
  margin-bottom: 0;
  padding-right: 20px;
  position: relative;
}
</style> 

<!-- LOGIN FORM -->
<div class="text-center " style="padding:50px 0; ">
	<div class="logo">Пожалуйста, введите свой логин и пароль</div>
	<!-- Main Form -->
	<div class="login-form-1">
		<form id="login-form" class="text-left">
			<div class="login-form-main-message"></div>
			<div class="main-login-form">
				<div class="login-group">
					<div class="form-group">
						<label for="lg_username" class="sr-only">Логин</label>
						<input type="text" class="form-control" id="lg_username" name="lg_username" placeholder="username">
					</div>
					<div class="form-group">
						<label for="lg_password" class="sr-only">Пароль</label>
						<input type="password" class="form-control" id="lg_password" name="lg_password" placeholder="password">
					</div>
					<div class="form-group login-group-checkbox">
						<input type="checkbox" id="lg_remember" name="lg_remember">
						<label for="lg_remember">запомнить</label>
					</div>
                    <div class="col-12">
                        <button class="btn btn-primary; btn-secondary" type="submit">Войти</button>
                      </div>
			<div class="etc-login-form">
				<p> <a href="#">Забыли свой пароль?</a></p>
				<p> <a href="#">Создать новый аккаунт</a></p>
			</div>
		</form>
	</div>
	<!-- end:Main Form -->
</div>


{% endblock %}


