<p>

</p>
<form action="{% url 'comments:create' %}" method="post">
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Введите комментарий</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="comment_text"></textarea>
        <input type="hidden" name="next_step" value='{{ next_step }}'>
        <input type="hidden" name="next_step" value="{{ content_type_id }}">
      </div>
      {% csrf_token %}
      <button type="submit" class="btn btn-success">Написать</button>
</form>
<b>comments:</b>
<ul>
{% for comment in comments %}
    <li><b>{{comment.author }}:</b> {{ comment.comment_text }} || <small>{{ comment.created }}</small> </li>
{% endfor %}
</ul>
{{ next_step }}

