
{% extends "base_list_customer.html" %}
{% block title %}
book_list_customer
{% endblock title %}
{% block body %}
<h1>Все книги:</h1>

<div class="container-fluid">
  <div class="row"> 
    {% for object in book_list  %}
    <div class="col-xl-3" style="width: 16rem;">
      <div class="card-body">
        <img src="{{ object.picture.url }}" class="card-img-top" alt="...">
        <h5 class="card-title">{{ object }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ object.author }}</h6>
        <p class="card-text">
          <b>Количество книг в наличии: </b>{{ object.quantity_on_hand }}</br> 
          <b>Цена: </b>{{ object.price }}</br>                
        </p>
        <a href='{% url "books_list:book_detail_customer" object.pk %}' class="card-link"><button type="button" class="btn btn-sm btn-warning" text-decoration: none;">Подробнее</button></a>
        <a href='{% url "carts:cart_edit" %}?object_id={{ object.pk }}'><button type="submit" class="btn btn-sm btn-danger" text-decoration: none;">В корзину</button></a>  

      </div>
    </div>
    {% endfor %}
  </div>
</div>  
{% endblock body %}







<div class="container-fluid">
  <div class="row"> 
    {% for object in book_list  %}
    <div class="col-xl-3" style="width: 16rem;">
      <div class="card-body">
        <img src="{{ object.picture.url }}" class="card-img-top" alt="...">
        <h5 class="card-title">{{ object }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ object.author }}</h6>
        <p class="card-text">
          <b>Количество книг в наличии: </b>{{ object.quantity_on_hand }}</br> 
          <b>Цена: </b>{{ object.price }}</br>                
        </p>
        <a href='{% url "books_list:book_detail_customer" object.pk %}' class="card-link">Подробнее</a>
        <a href='{% url "login:cart_edit" %}?object_id={{ object.pk }}' class="card-link"> В корзину</a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>  



http://127.0.0.1:8000/cart/?book_id=1





<div class="container-fluid">
  <div class="row"> 
    {% for object in book_list  %}
    <div class="col-xl-3"><div class="card" style="width: 16rem;">
      <img src="{{ object.picture.url }}" class="card-img-top" alt="...">
      <div class="card-body ">
        <h5 class="card-title">{{ book }}</h5>
        <p class="card-text">
          <b>Имя: </b>{{ object }}</br>
          <b>Автор</b>: {{ object.author }}<br>
          <b>Серия </b>: {{ object.line }}<br>
          <b>Жанр</b>: {{ object.genre }}<br>
          <b>Год издания</b>: {{ object.publication_date }}<br>
          <b>Количество страниц</b>: {{ object.pages }}<br>
          <b>Возрастные ограничения</b>: {{ object.restrictions }}<br>
          <b>Издатель</b>: {{ object.publisher }}<br>
          <b>Количество книг в наличии</b>: {{ object.quantity_on_hand }}<br>  
          <b>Цена: </b>{{ object.price }}</br>                
        </p>
      </div>
    </div></div> 
    {% endfor %}



#############################

<br>{{ user }}</br>
<br>{{ user.groups.all }}</br>
<br>{{ user.groups.all.0.name }}</br>
<br>{{ user.is_superuser  }}</br>
{% if perms.books.add_book %}
<a href='{% url "books_list:book_create" %}'></a><button>Добавить книгу</button>
{% endif %}
<br>{% if user.is_superuser or user.is_staff  %} </br>
  <a href='{% url "books_list:book_create" %}'></a><button>Добавить книгу</button>
{% endif %}

##############################
