{% extends "base.html" %}
{% block title %}
books_list
{% endblock title %}
{% block body %}
<h1>Все книги:</h1>
<ul>
  {% for book in book_list %}
      <li>Книга {{ book.pk }}: <a href='{% url "books_list:book_detail" book.pk %}'>{{ book }}</a>
        || <a href='{% url "books_list:book_update" book.pk %}'>Редактировать</a>
        || <a href='{% url "books_list:book_delete" book.pk %}'>Удалить</a></li>         
      </li>
  {% endfor %}

    </a>     
  <a href='{% url "books_list:book_create" %}'>
      <button>Добавить книгу</button>
    </a>   
</ul>
{% endblock body %}