{% extends "base.html" %}
{% block title %}
home
{% endblock title %}
{% block body %}
<h1 class="display-3" align="center">BOOK SHOP</h1>

    <div class="container">
      <div class="row" > <big><b>Последние добавленные книги:</b></big> </div>
      <div class="row"> 
        {% for object in last_added  %}
        <div class="col-sm"><div class="card text-white bg-dark" style="width: 16rem;">
          <img src="{{ object.picture.url }}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ book }}</h5>
            <p class="card-text">
              <b>Имя: </b>{{ object }}</br>
              <b>Автор</b>: {{ object.author }}<br>
              <b>Серия </b>: {{ object.line }}<br>
              <b>Жанр</b>: {{ object.genre }}<br>
              <b>Год издания</b>: {{ object.publication_date }}<br>
              <b>Количество страниц</b>: {{ object.pages }}<br>
              <b>Возрастные ограничения</b>: {{ object.restrictions }}<br>
              <b>Издатель</b>: {{ object.publisher }}<br>
              <b>Количество книг в наличии</b>: {{ object.quantity_on_hand }}<br>  
              <b>Цена: </b>{{ object.price }}</br>   
              <a href='{% url "books_list:book_detail" object.pk %}' class="card-link"><button type="button" class="btn btn-sm btn-warning" text-decoration: none;">Подробнее</button></a>
              <a href='{% url "carts:cart_edit" %}?object_id={{ object.pk }}'><button type="submit" class="btn btn-sm btn-danger" text-decoration: none;">В корзину</button></a>                            
            </p>
          </div>
        </div></div> 
        {% endfor %}
      <div class="row"> <big><b>Самые дешевые книги: </b></big>  </div>
      <div class="row">
        {% for object in cheapest  %}
        <div class="col-sm"><div class="card text-white bg-dark" style="width: 16rem;">
          <img src="{{ object.picture.url }}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ book }}</h5>
            <p class="card-text">
              <b>Имя: </b>{{ object }}</br>
              <b>Автор</b>: {{ object.author }}<br>
              <b>Серия </b>: {{ object.line }}<br>
              <b>Жанр</b>: {{ object.genre }}<br>
              <b>Год издания</b>: {{ object.publication_date }}<br>
              <b>Количество страниц</b>: {{ object.pages }}<br>
              <b>Возрастные ограничения</b>: {{ object.restrictions }}<br>
              <b>Издатель</b>: {{ object.publisher }}<br>
              <b>Количество книг в наличии</b>: {{ object.quantity_on_hand }}<br>  
              <b>Цена: </b>{{ object.price }}</br> 
              <a href='{% url "books_list:book_detail" object.pk %}' class="card-link"><button type="button" class="btn btn-sm btn-warning" text-decoration: none;">Подробнее</button></a>
              <a href='{% url "carts:cart_edit" %}?object_id={{ object.pk }}'><button type="submit" class="btn btn-sm btn-danger" text-decoration: none;">В корзину</button></a>  
            </p>
          </div>
        </div></div> 
        {% endfor %}
      <div class="row"> <big><b> Бестселлеры:</b></big>  </div>
      <div class="row">
        {% for object in bestsellers  %}
        <div class="col-sm"><div class="card text-white bg-dark" style="width: 16rem;">
          <img src="{{ object.picture.url }}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ book }}</h5>
            <p class="card-text">
              <b>Имя: </b>{{ object }}</br>
              <b>Автор</b>: {{ object.author }}<br>
              <b>Серия </b>: {{ object.line }}<br>
              <b>Жанр</b>: {{ object.genre }}<br>
              <b>Год издания</b>: {{ object.publication_date }}<br>
              <b>Количество страниц</b>: {{ object.pages }}<br>
              <b>Возрастные ограничения</b>: {{ object.restrictions }}<br>
              <b>Издатель</b>: {{ object.publisher }}<br>
              <b>Количество книг в наличии</b>: {{ object.quantity_on_hand }}<br>  
              <b>Цена: </b>{{ object.price }}</br> 
              <a href='{% url "books_list:book_detail" object.pk %}' class="card-link"><button type="button" class="btn btn-sm btn-warning" text-decoration: none;">Подробнее</button></a>
              <a href='{% url "carts:cart_edit" %}?object_id={{ object.pk }}'><button type="submit" class="btn btn-sm btn-danger" text-decoration: none;">В корзину</button></a>  
            </p>
          </div>
        </div></div> 
        {% endfor %}
      </div>
  {% endblock body %}


