{% extends "base.html" %}
{% block title %}
author_form
{% endblock title %}
{% block body %}
    <h1>Изменить автора:</h1>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}<br>
        <a href ='{% url "book_guide:authors" %}'><button type="button" class="btn btn-sm btn-warning ; text-decoration: none">Назад к списку авторов</button></a>
        <button type="submit" class="btn btn-sm btn-danger ; text-decoration: none">Изменить автора</button>
    </form>
    {% endblock body %}






 