{% extends "base.html" %}
{% block title %}
genre_list
{% endblock title %}
{% block body %}
    <h1>Все жанры:</h1>
    <ul>
        {% for genre in genre_list %}
        <b><li>Genre {{ genre.pk }}:</b> <a href='{% url "book_guide:genre_data" genre.pk %}'>{{ genre }}</a>
            || <a href='{% url "book_guide:genre_update" genre.pk %}'>Редактировать</a>
            || <a href='{% url "book_guide:genre_delete" genre.pk %}'>Удалить</a></li>
        {% endfor %}
        <a href='{% url "book_guide:book_references" %}'>
            <button>Вернуться назад</button>
          </a>     
        <a href='{% url "book_guide:genre_create" %}'>
            <button>Добавить жанр</button>
    </ul>
{% endblock body %}
