{% extends "base.html" %}
{% block title %}
line_list
{% endblock title %}
{% block body %}
<body>
    <h1>Все серии:</h1>
    <ul>
        {% for line in line_list %}
            <li>Серия {{ line.pk }}: <a href='{% url "book_guide:lines_data" line.pk %}'>{{ line }}</a>
                || <a href='{% url "book_guide:line_update" line.pk %}'>Редактировать</a>
                || <a href='{% url "book_guide:line_delete" line.pk %}'>Удалить</a></li>
        {% endfor %}
        <a href='{% url "book_guide:book_references" %}'>
            <button>Вернуться назад</button>
          </a>     
        <a href='{% url "book_guide:line_create" %}'>
            <button>Добавить серию</button>
    </ul>
{% endblock body %}





