{% extends "base.html" %}
{% block title %}
list_of_reference_books
{% endblock title %}
{% block body %}
<style>
    li {
     list-style-type: none; /* Убираем маркеры */
    }
</style>
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
        Список всех справочников
        <a href="/book_guide/genre" class="list-group-item list-group-item-action">Жанр</a>
        <a href="/book_guide/author" class="list-group-item list-group-item-action">Автор</a>
        <a href="/book_guide/line" class="list-group-item list-group-item-action">Серия</a>
        <a href="/book_guide/publisher" class="list-group-item list-group-item-action">Издатель</a>
    </div>
{% endblock body %}



