{% extends "base.html" %}
{% block title %}
publisher_list
{% endblock title %}
{% block body %}
    <h1>Все издатели:</h1>
    <ul>
        {% for publisher in publisher_list %}
            <li>Издатель {{ publisher.pk }}: <a href='{% url "book_guide:publisher_data" publisher.pk %}'>{{ publisher }} </a>
                || <a href='{% url "book_guide:publisher_update" publisher.pk %}'>Редактировать</a>
                || <a href='{% url "book_guide:publisher_delete" publisher.pk %}'>Удалить</a></li>
        {% endfor %}
        <a href='{% url "book_guide:book_references" %}'>
            <button>Вернуться назад</button>
          </a>     
        <a href='{% url "book_guide:publisher_create" %}'>
            <button>Добавить издательство</button>
          </a>     
    </ul>
{% endblock body %}





