{% extends "base.html" %}
{% block title %}
publisher_form
{% endblock title %}
{% block body %}
    <h1>Изменить издательство:</h1>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}<br>
        <a href ='{% url "book_guide:publishers" %}'><button type="button" class="btn btn-sm btn-warning ; text-decoration: none">Назад к списку издательств</button></a>
        <button type="submit" class="btn btn-sm btn-danger ; text-decoration: none">Изменить издательство</button>
    </form>
{% endblock body %}



 