<!DOCTYPE html>
<html lang="en">    
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME PAGE</title>
    <style> 
        li {
            list-style-type: 
        }
        ul {
            margin-left: 0; 
            padding-left: 0; 
        }
    </style>    
</head>
<body>
    <h1 align="center">Home Page</h1>
    <br>
    <h1 align="center">List of all codes:</h1>
        <ul>
            <li align="center",><strong> <a href="/MOW">MOW</strong></a></li>
            <li align="center"><strong><a href="/BER">BER</strong></a></li>
            <li align="center"><strong><a href="/LGW">LGW</strong></a></li>
            <li align="center"><strong><a href="/BGM">BGM</strong></a></li>
            <li align="center"><strong><a href="/ROM">ROM</strong></a></li>
            <li align="center"><strong><a href="/CNI">CNI</strong></a></li>
            <li align="center"><strong><a href="/ORY">ORY</strong></a></li>
            <li align="center"><strong><a href="/BSB">BSB</strong></a></li>
            <li align="center"><strong><a href="/YOW">YOW</strong></a></li>
            <li align="center"><strong><a href="/GEN">GEN</strong></a></li>
            <li align="center"><strong><a href="/WAW">YOW</strong></a></li>
        </ul>
</body>
</html>

