<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title align="center">LIST OF CITIES:</title>
    <style> 
        li {
            list-style-type: 
        }
        ul {
            margin-left: 0; 
            padding-left: 0; 
        }
    </style> 
</head>
<body>
    <h1 align="center">LIST OF CITIES:</h1>
    <br>
    <ul>
        <li align="center">MOSCOW</li>
        <li align="center">BERLIN</li>
        <li align="center">LONDON</li>
        <li align="center">NEW YORK</li>
        <li align="center">ROME</li>
        <li align="center">CHANGHAI</li>
        <li align="center">PARIS</li>
        <li align="center">BRASILIA</li>
        <li align="center">OTTAWA</li>
        <li align="center">OSLO'</li>
        <li align="center">WARSAW</li>
    </ul>
<div align="center"><a href="/">HOME</div>
</body>
</html>
