<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Genre</title>
    </style> 
</head>
<body>
    <h1>All genres:</h1>
    <ul>
        {% for genre in genre_list %}
        <b><li>Genre {{ genre.pk }}:</b> <a href='{% url "genre_data" genre.pk %}'>{{ genre }}</a>
            || <a href='{% url "genre_update" genre.pk %}'>Редактировать</a>
            || <a href='{% url "genre_delete" genre.pk %}'>Удалить</a></li>
        {% endfor %}
        <a href='{% url "list_of_reference_books" %}'>
            <button>Вернуться назад</button>
          </a>     
        <a href='{% url "genre_create" %}'>
            <button>Добавить жанр</button>
    </ul>
</body>
</html>


