<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Genre create</title>
    <style>
        a { 
         text-decoration: none;
        } 
    </style>
</head>
<body>
    <h1>Добавить жанр:</h1>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}<br>
        <a href ='{% url "book_guide:genres" %}'><button>Назад к списку жанров</a></button>
        <button type="submit">Добавить жанр</button>
    </form>
</body>
</html>
