<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Genre</title>
    </style> 
</head>
<body>
    <h1>All genres:</h1>
    <ul>
        {% for genre in genre_list %}
        <b><li>Genre {{ genre.pk }}:</b> <a href='/book/{{ genre.pk }}'>{{ genre }}</a> - <b>Description: </b> <a href='/book/{{ genre.pk }}'>{{ genre.description }} </a> </li>
        {% endfor %}
    </ul>
</body>
</html>


