<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lines_list</title>
</head>
<body>
    <h1>All lines:</h1>
    <ul>
        {% for line in lines_list %}
            <li>Серия {{ line.pk }}: <a href='{% url "lines_data" line.pk %}'>{{ line }}</a>
                || <a href='{% url "line_update" line.pk %}'>Редактировать</a>
                || <a href='{% url "line_delete" line.pk %}'>Удалить</a></li>
        {% endfor %}
        <a href='{% url "list_of_reference_books" %}'>
            <button>Вернуться назад</button>
          </a>     
        <a href='{% url "line_create" %}'>
            <button>Добавить издательство</button>
    </ul>
</body>
</html>




