<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of reference books</title>
</head>
<body>
    <h1>Список всех справочников:</h1>
    <ul>
        <li><b><a href="/genre">Жанр</b></li>
        <li><b></h2><a href="/author">Автор</b></li>
        <li><b><a href="/line">Серия</b></li>
        <li><b><a href="/publisher">Издатель</b></li>
    </ul>
</body>
</html>