{% extends "base.html" %}
{% block title %}
order_list
{% endblock title %}
{% block body %}

<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Корзина</th>
        <th scope="col">Контактные данные</th>
        <th scope="col">Дата создания заказа</th>
        <th scope="col">Дата изменения заказа</th>
        <th scope="col">Статус заказа</th>
        <th scope="col">Редактировать</th>
        <th scope="col">Удалить</th>
      </tr>
    </thead>
    <tbody>
        {% for order in order_list %}
      <tr>
        <th scope="row">Заказ № {{ order.pk }}</th>
        <td><a href='{% url "orders:order_detail" order.pk  %}' style="text-decoration: none"><b>{{ order.cart.pk }}</b></a></td>
        <td>{{ order.contact_info }}</a></td>
        <td>{{ order.created }}</td>
        <td>{{ order.updated }}</td>
        <td><b>{{ order.order_status }}</b></td>
        <td><a href='{% url "orders:order_update" order.pk %}' style="text-decoration: none"><button class="btn btn-sm btn-warning" text-decoration: none>Редактировать</button></a></td>
        <td><a href='{% url "orders:order_delete" order.pk %}' style="text-decoration: none"><button class="btn btn-sm btn-warning" text-decoration: none>Удалить</button></a></td>
        {% endfor %}
      </tr>
    </tbody>
  </table>
{% endblock body %}

'{% url "carts:booksincart_list" order.pk %}'




<td><a href='{% url "carts:booksincart_list"  %}' style="text-decoration: none">{{ order.cart.pk }}</a></td>

<td><a href='{% url "carts:booksincart_detail" order.cart.pk   %}' style="text-decoration: none">{{ order.cart.pk }}</a></td>
<td><a href='{% url "carts:booksincart_list" order.cart.pk %}' style="text-decoration: none">{{ order.cart }}</a></td>